.box-image {
  width: 100%;
  height: 105%;
  justify-content: left;
  align-items: left;
  align-content: left;
  margin-top: 5%;
}
.profile {
  height: 75vh;
}

.profile-container {
  height: 50%;
  width: 30%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.profile-box {
  width: 90%;
  height: 90%;
  margin: auto;
  display: block;
  margin-top: 3%;
  display: flex;
  margin-left: 20%;
}
.profile-data {
  margin-top: 10%;
}

.profile-data ul {
  margin-left: -7%;
}

.profile-data ul li {
  line-height: 30px;
}

.profile-data ul li span {
  color: rgb(45, 135, 138);
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}
